<div class="center jumbotron">
  <h1>Expense app</h1>
  <h2>Expense_appにようこそ</h2>
  <p>機能を利用するにはログインしてください</p>
  <p>ログイン</p>
  <p>企業ID</p>
  <p>社員ID</p>
  <p>パスワード</p>
  <p>初めての方は</p>　<%= link_to "新規登録",   signup_path,  class: "btn btn-lg btn-primary" %>
  
</div>