<%# フッターにサイトマップを作成する */
<div class="about">
<p>概要</p>
<ul>
  <li>
  </li>
  <li>
  </li>
  <li>
  </li>
<ul>
</div>
<div class="function">
<p>機能紹介</p>
<ul>
  <li>
  </li>
  <li>
  </li>
  <li>
  </li>
<ul>
</div>

<div class="function">
<p>使い方</p>
<ul>
  <li>
  ユーザー登録・招待
  </li>
  <li>
  経費申請
  </li>
  <li>
  経費承認
  </li>
  <li>
  自動仕訳・CSV出力機能
  </li>
<ul>
</div>
%>